/* ----- 개최결과 / Show results ----- */
.chart_list {
	border-bottom: 1px solid #dcdcdc;
}
.chart_list > ul {
	display: flex;
	flex-wrap: wrap;
	border-left: 1px solid #dcdcdc;
}
.chart_list > ul > li {
	width: 100%;
  border-right: 1px solid #dcdcdc;
}
.chart_list > ul > li:nth-child(2) {
	min-height: 31.25rem;
}
.chart_list > ul > li:nth-child(3) {
	min-height: 27.7rem;
}
.chart_list > ul > li:nth-child(4) {
	min-height: 26rem;
}
.chart_list > ul > li > div {
  border-top: 1px solid #dcdcdc;
  position: relative;
	padding: 25px 30px;
}
.chart_list .figure {
  position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -90px;
}
.chart_list .desc {
	padding-top: 185px;
	padding-left: 0;
}
.chart_list .desc ul {
  padding-left: 0;
}
.chart_list .desc li {
	font-size: 12px;
  margin: 10px 0;
	color: #323232;
  position: relative;
	padding-right: 60px;
}
.chart_list .desc li span {
	position: absolute;
  right: 0;
  top: 0;
  color: #505050;
}
.chart_list .desc li:before {
	display: inline-block;
	content: '';
	margin-right: 10px;
	font-size: 1.1em;
	width: 14px;
	height: 14px;
	border-radius: 50%;
}
.chart_list .desc .type_a:before {
  background-color: #a4def8;
}
.chart_list .desc .type_b:before {
  background-color: #faf782;
}
.chart_list .desc .type_c:before {
  background-color: #cadc86;
}
.chart_list .desc .type_d:before {
  background-color: #f87f62;
}
.chart_list .desc .type_e:before {
  background-color: #ffb461;
}
.chart_list .desc .type_f:before {
  background-color: #4d6fa7;
}
.chart_list .desc .type_g:before {
	background-color: #abdbc5;
}
.chart_list .desc .type_h:before {
  background-color: #65a67e;
}
.chart_list .desc .type_i:before {
  background-color: #d4c6bd;
}
.chart_list .desc .type_j:before {
  background-color: #323232;
}
ul:after, .clr:after {
	content: '';
	display: block;
	clear: both;
}
@include media-breakpoint-up(sm) { // 576px+
	.chart_list > ul > li {
		float: left;
    width: 50%;
	}
	.chart_list .desc  {
		padding-top: 180px;
	}
	.chart_list > ul > li:nth-child(1), .chart_list > ul > li:nth-child(2) {
		min-height: 31.25rem;
	}
	.chart_list > ul > li:nth-child(3), .chart_list > ul > li:nth-child(4) {
		min-height: 29rem;
	}
}
@include media-breakpoint-up(md) { // 768px+
	.chart_list > ul > li > div {
		padding: 40px 20px;
	}
	.chart_list .desc li {
		font-size: 15px;
		margin: 8px 0;
	}
	.chart_list > ul > li:nth-child(1), .chart_list > ul > li:nth-child(2) {
		min-height: 34rem;
	}
	.chart_list > ul > li:nth-child(3), .chart_list > ul > li:nth-child(4) {
		min-height: 30rem;
	}
}
@include media-breakpoint-up(lg) { // 992px+
	.chart_list > ul > li > div {
		vertical-align: middle;
	}
	.chart_list .figure {
	  margin-top: -90px;
	}
	.chart_list .desc {
		padding-top: 6.875rem;
	}
	.chart_list .desc ul {
    padding-left: 20px;
	}
	.chart_list > ul > li:nth-child(1), .chart_list > ul > li:nth-child(2) {
		min-height: 34rem;
	}
	.chart_list > ul > li:nth-child(3), .chart_list > ul > li:nth-child(4) {
		min-height: 30rem;
	}
}
@include media-breakpoint-up(xl) { // 1200px+
	.chart_list > ul > li {
		float: left;
		width: 50%;
	}
	.chart_list > ul > li > div {
		height: inherit;
	}
	.chart_list .figure {
		top: 50%;
    margin-top: 0;
		transform: translateY( -50% );
		left: auto;
    margin-left: auto;
	}
	.chart_list .desc {
		padding-top: 0;
		padding-left: 15rem;
    top: 50%;
    position: absolute;
    transform: translateY( -50% );
	}
	.chart_list .desc li {
		font-size: 16px;
	}
	.chart_list > ul > li:nth-child(1), .chart_list > ul > li:nth-child(2) {
		min-height: 0;
	}
	.chart_list > ul > li:nth-child(3), .chart_list > ul > li:nth-child(4) {
		min-height: 0;
	}
}
@include media-breakpoint-down(xl) {
	.chart_list .figure > img {
		width: 180px;
	}
}
