/* ----- 전시회특징 / Exhibit identity ----- */

// grd bar adjustments
.page-id-15 .entry-content .grd_textblock {
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
}
.page-id-15 .row1 {
	padding-bottom: 3rem;
}
