@import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";
@import "default"; // pm resets
@import "main"; // main page
@import "m1-2"; // exhibit identity
@import "m1-3"; // exhibit promotion
@import "m1-4"; // show results
@import "m1-5"; // about us
@import "m5-3"; // support program
@import "p-ex-cat1"; // post ex-cat health/fitness
@import "m2-1-en"; // exhibitor application
@import "m3-1-en"; // visitor registraion

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/* ----- Theme ----- */

/* ----- Global Elements ----- */
// remove single post thumbnails
.post-thumbnail {
	display: none;
}
// page title hide on all posts & pages
.entry-header {
  display: none;
}
// all posts & pages spacing top bottom (not home)
body:not(.home) .site-content {
	padding-top: 5.25rem; // header height padding
}
.single .entry-content {
	margin-top: 0;
}
@include media-breakpoint-up(lg) {
	body:not(.home) .site-content {
		padding-top: 8.125rem; // header height padding
	}
}
/* ----- /Global Elements ----- */
